body{
    font-family: sans-serif;
    margin: 0px;
}

.headcn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: whitesmoke; */
    margin-top: 20px;
    margin-left: 10px;
}
.logo{
    /* width: 250px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 108px;
    margin-left: 24px;
}
.login{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    justify-content: space-between;
}
.login div{
    font-size: 16px;
    padding: 10px;
    color:black;

}
.login a {
    text-decoration: none;
    color: black;
}
.logobar{
    margin-left: 46px;
}
.login button{
    background-color: white;
    font-size: 16px;
    /* padding: 5px 10px; */
    border: none;
    width: 100px;
}
.login button:hover{
    background-color: #f5f7f8;
}
/* for menubar */
.logobar div{
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

.fa {
    transform: scaleX(-1);
    
}
.homepg{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(245, 245, 168); */
}

.safehide{
    background-color: #eeeff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.safehide a , #safehide-cooky a{
    color:#7399cc; 
    text-decoration: none;
}

.safehide a:hover , #safehide-cooky a:hover {
    text-decoration:underline ;
}

#safehide-cooky {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
     
}

.videocontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.video {
    z-index: 0;
    width: 100%;
    display: block;
}

.video video{
    width: 100%;
}

.videocontainer-content{
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
}

.videocontainer-content h2{
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    font-size: 76px;
    line-height: 82px;
    letter-spacing: -1px;
    font-weight: 100;
    margin: 0px;
}
.videocontainer-content p{
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
}

.videocontainer-content-button{
    margin: 12px;
}

.videocontainer-content-button a{
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    padding: 8px 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;   
}

.videocontainer-content-button a:hover{
    cursor: pointer;
    color: white;
    background: black;
}



@media only screen and (max-width: 960px){
    .headcn{
        margin-top: 13px;
        margin-left: -24px;
    }
    .videocontainer-content-button{
        margin: 0px;
    }
    .videocontainer-content-button{
        margin: 0px;
        padding: 0px 0px;
    }
    .videocontainer-content h2{
        font-size: 22px;  
    }
    .safehide{
        font-size: 8px;
    }
}