body{
    font-family:"Raleway", sans-serif;
    margin: 0px;
}

.headcn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    position: sticky;
    top: 0px;
    z-index: 10;
    padding-top: 8px;
    padding-bottom: 8px;
    /* margin-left: 10px; */
}

.box-bottom-shadow {
	-webkit-box-shadow: 0 8px 6px -6px gray;
	   -moz-box-shadow: 0 8px 6px -6px gray;
	        box-shadow: 0 8px 6px -6px gray;
}
.logo{
    /* width: 250px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 108px;
    margin-left: 24px;
}
.login{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    justify-content: space-between;
}
.login div{
    font-size: 16px;
    padding: 10px;
    color:black;

}
.login a {
    text-decoration: none;
    color: black;
}
.logobar{
    margin-left: 46px;
}
.login button{
    background-color: white;
    font-size: 16px;
    /* padding: 5px 10px; */
    border: none;
    width: 100px;
}
.login button:hover{
    background-color: #f5f7f8;
}
/* for menubar */
.logobar div{
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

.fa {
    transform: scaleX(-1);
    
}
.homepg{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(245, 245, 168); */
}

.safehide{
    background-color: #eeeff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.safehide a , #safehide-cooky a{
    color:#7399cc; 
    text-decoration: none;
}

.safehide a:hover , #safehide-cooky a:hover {
    text-decoration:underline ;
}

#safehide-cooky {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
     
}

.videocontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.video {
    z-index: 0;
    width: 100%;
    display: block;
}

.video video{
    width: 100%;
}

.videocontainer-content{
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videocontainer-content h2{
    font-family:'Raleway', sans-serif;
    font-size: 76px;
    line-height: 82px;
    letter-spacing: -1px;
    font-weight: 100;
    margin: 0px;
}
.videocontainer-content p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
}

.videocontainer-content-button{
    margin: 12px;
}

.videocontainer-content-button a{
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    padding: 8px 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;   
}

.videocontainer-content-button a:hover{
    cursor: pointer;
    color: white;
    background: black;
}

.textlink{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    padding: 48px 144px;
}
.textlink a{
    font-family:'Raleway', sans-serif;
    font-size: 36px;
    color: #333333;
    text-decoration: none;
    line-height: 1.2;    
}
#textlink-goldman:hover{
    text-decoration: none;
    color: #707070;
}
#textlink-lmore a {
    font-size: 16px;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 1px;
    margin: 48px 0 0 0;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
}
#textlink-lmore a:hover{
    color: #2F6EB6;
    text-decoration: underline;
}
/* try it underling animation for links */
.un {
    display: inline-block;
  }
  
  .un:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #2F6EB6;
    transition: 300ms;
  }
  
  .un:hover:after {
    width: 100%;
}

.discovery{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #192e47;
    color: white;
    padding-bottom: 80px;
    padding-top: 50px;
}

.discovery-h2 h2{
    font-size: 48px;
    line-height: 52px;
    /* letter-spacing: -1px; */
    font-weight: 100;
    margin-bottom: -10px;
}

.discovery-p {
    width: 50%;
}
.discovery-p p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    /* margin-bottom: -10px; */
    /* padding-bottom: 40px; */
}
.discovery-a {
    padding-top: 20px;
}
.discovery-a a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 600;
}
.discovery-a a:hover{
    text-decoration: underline white;
}
.r2col{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2F6EB6;
    line-height: 120px;
    font-size: 24px;
}

.r-col1{
    flex: 50;
    text-align: center;
    cursor: pointer;
    background-color: #314f76;
}
.r-col2{
    flex: 50;
    text-align: center;
    cursor: pointer;
    background-color: #3f6392;
}
.r-col1:hover{
    background-color: #1b2f4b;
}
.r-col2:hover{
    background-color: #133a64;
}
.r-col1 a:after ,.r-col2 a:after {
    position: relative;
    left: 10px;
    top: -1px;
    content: "";
    display: inline-block;
    width: 0.35em;
    height: 0.35em;
    border-right: 0.1em solid rgb(255,255,255);
    border-top: 0.1em solid rgb(255,255,255);
    transform: rotate(45deg);
    margin-right: 0.5em;
    clear: both;
    transition: transform .1s ease-in-out;
    transform-origin: 66% 36%;
    border-color: white;
}
.r2col a {
    text-decoration: none;
    color: white;
}
.two-pic-col{
    display: flex;
    flex-direction: row ;
    flex: 50;
    text-align: center;
    background-color: #192e47;
    color: white;
}
.boxl{
    width: 50%;
    align-items: flex-end;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.boxr{
    width: 50%;
    align-items: flex-start;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.boxl .pic{
    padding: 70px 20px 0px 0px;
}
.boxr .pic{
    padding: 70px 0px 0px 0px;
}
.pic{
    width: 75%;
}
.pic img{
    width: 100%;
    height: 100%;
}

.pic-p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 78%;
    height: 100%;
    text-align: start;
}
.pic-a {
    display: flex;
    width: 78%;
    justify-content: flex-start;
    padding-bottom: 150px;
}
.pic-a a {
    background-color: #192e47;
    color: white;
    border: 3px groove #FFFFFF;
    text-decoration: none;
    padding: 8px 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700; 
}
.two-pic-col a:hover {
    border: 3px solid white;
    background-color: white;
    color: black;
}

.text-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 120px;
}

#bg-image { 
    background: url("../Images/financial-cloud-1400x1300.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#bg-image .text-col , #bg-image h4 , #bg-image h1 , #bg-image p {
    color: white;
    opacity: 1;
}  

#bg-image a {
    background-color: white;
    color: black;
}
#bg-image a:hover{
    background-color: black;
    color: white;
}

.text-col{
    width: 50%;
    text-align: center;
}
.image-col{
    width: 50%;
    /* text-align: center; */
}
.text-col h1{
    /* font-weight: 100;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: -1px;
    text-align: left; */

    font-weight: 100;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1px;
    text-align: left;
}

.text-col p{
    color: #707070;
    /* font-weight: 100; */
    font-size: 18px;
    line-height: 44px;
    /* letter-spacing: -1px; */
    text-align: left;
}
.text-col h4{
    color: #707070;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 100;
    text-align: left;
}
.text-col a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 16px 24px;
    /* text-transform: uppercase; */
    font-size: 12px;
    font-weight: 700; 
}
.text-col a:hover{
    background-color: #7399c6;
}

.text-col-diva {
    text-align: left;
    margin-top: 52px;
} 
.image-col img:hover{
    transform: scale(1.06);
    transition: all 0.3s ease-in-out 0.2s;
    cursor: pointer;
}
.subscrip {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0 144px;
    margin: 0;
    background-color: #192e47;
}
.subscrip h4{
    line-height: 1.2;
    font-weight: 100;
    color: white;
    font-size: 70px;
    margin: 140px 0px 0px 0px;
    
}
.subscrip span{
    color: #2471d6;
}
.form {
    text-align: left;
    margin-bottom: 130px;
    color: white;
    font-size: 40px;
    line-height: 48px;
    max-width: 760px;
    font-weight: 300;
}
 .form-p{
    padding-top: 60px;
}

.form-b{
    padding: 80px 0px;
}
form.example input[type=text] {
    padding: 20px;
    font-size: 17px;
    /* border: 1px u grey; */
    float: left;
    width: 70%;
    background: #192e47;
    border: none;
    border-bottom: solid 1px #5a7097
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 20px 5px;
    background: #2471d6;;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    border-bottom: solid 1px #5a7097;
    cursor: pointer;
  }
  .example span{
      color: white;
  }

footer{
    background-color: #f4f4f4;
}
.link-container{
    display: flex;
    flex-direction: row;
    padding: 100px 0px 100px 144px;
}
.link-container-img{
    padding: 30px 40px 0px 30px;
    flex: 1;
}
.link-container-left-a , .link-container-right-a{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px;
}
.link-container a {
    /* padding-bottom: 4px; */
    color: black;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    line-height: 2.6;
}
.footer-un {
    display: inline-block;
    padding: 0px 0px 11px 70px;
  }
  
.footer-un:after {
    content: ' ';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
 }
  
.footer-un:hover:after {
    width: 100%;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 144px;
    margin-top: -30px;

}
.socials-icons{
    display: flex;
    flex-direction: row;
    padding: 32px 0;
}
.icons{
    position: relative;
    padding: 4px;
    margin-right: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgb(105, 106, 107);
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}
.socials-icons svg{
    fill: #999999;
    width: 27px;
    height: 27px;
}
.socials-icons svg:hover{
    fill: #000000;
    cursor: pointer;
}

.copyR {
    padding: 32px 0;
    color: #999999;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 960px){
    .headcn{
        margin-top: 13px;
        margin-left: -24px;
    }
    .videocontainer-content-button{
        margin: 0px;
    }
    .videocontainer-content-button{
        margin: 0px;
        padding: 0px 0px;
    }
    .videocontainer-content h2{
        font-size: 22px;  
    }
    .safehide{
        font-size: 8px;
    }
    .textlink a {
        font-size: 12px;
        font-weight: 600;
    }
    .brk{
        display: none;
    }
    .discovery h2 , .discovery p{
        font-size: 20px;
    }
    .r2col a{
        font-size: 14px;
    }
    .boxl .pic{
        padding: 0px;
        align-items: center;
    }
    .boxr .pic{
        padding: 0px;
        align-items: center;
    }
    .boxl , .boxr{
        padding-top: 10px;
        align-items: center;
    }
    .pic-p{
        font-size: 14px;
    }
    .text-image{
        display: flex;
        flex-direction: column;
        border-bottom: solid 1px #5a7097;
        padding: 0px;
    }
    .image-col{
        order: 1;
    }
    .text-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }
    
    .image-col img{
        width: 100%;
    }
    .text-col h1 , .text-col p {
        font-size: 16px;
        text-align: center;
    }
    .text-col-diva{
        margin: 22px;
    }
    .image-col img:hover{
        transform: scale(1.01);
        transition: all 0.3s ease-in-out 0.2s;
        cursor: pointer;
    }
    .subscrip , .form{
        display: block;
        padding: 0px; 
        background-color: #192e47;
        text-align: center;
    }
    .link-container , .link-container-left-a , .link-container-right-a{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: 90%;
    }
    .link-container-img{
        width: 25%;
    }
    .socials{
        padding: 0px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .copyR{
        margin-top: 0px;
    }
}