body {
    background-color: #fff;
    text-align: center;
    margin: 0px;
    font-family:sans-serif,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
}

.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 65px;
    height: 55px;
    padding-top: 33px;
}

#image-logo{
    width: 33px;
    height: 43px;
    transform: translateY(3px);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

} 

.header .logo a{
    font-size: 16px;
    color: #2b2e32;
}

#logo-id{
    font-weight: 400;
    line-height: 1.3;
    padding-left: 80px;
}

#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header ul li a{
    text-decoration: none;
    color: rgba(25,25,25,.3);
    padding: 15px;
}

#menu a:hover {
    opacity: 1; 
    color: black; 
}

a{
    color: white;
    text-decoration: none;
}

.content{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content li{
    list-style-type: none;
}

.title{
    padding-bottom: 50px;
}

.title-h1{
    padding-top: 100px;
    font-size: 52px;
    line-height: 1.6;
    width: calc((100vw - 280px)/6*4 + 120px);
    text-align: left;
}

.navlist{
    width: 100%;
    text-align: left;
    width: calc((100vw - 280px)/6*4 + 120px);
}

.sketch , .WeTransfer , .Coffee , .Beam , .More{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    color: #191919;
    transition: opacity .3s ease;
}

.navlist a{
    font-size: 88px;
    line-height: 1.4;
    display: inline-block;
    color: #191919;
}

.hide {
    display: none;
    justify-content: flex-end;
}
.navlist a:hover {
    color: rgb(148, 146, 146); 
}

.navlist > div a:hover{
    color : rgb(170, 72, 72);
 }

/* .sketch:hover ~ .WeTransfer ,.sketch:hover ~ .Coffee  a{
   color:  #ccc;
} 


/* sketch */ 
/* .sketch:hover ~ .WeTransfer  a{
   color:  #ccc;
}

.sketch:hover ~ .Coffee  a{
    color:  #ccc;
}

.sketch:hover ~ .Beam  a{
    color:  #ccc;
}

.sketch:hover ~ .More  a{
    color:  #ccc;
}
/* Wetransfer  
.WeTransfer:hover ~ .sketch  a{
    color:  #ccc ;
 }
 
 .WeTransfer:hover  ~ .Coffee  a{
     color:  #ccc;
 }
 
 .WeTransfer:hover ~ .Beam  a{
     color:  #ccc;
 }
 
 .WeTransfer:hover ~ .More  a{
     color:  #ccc;
 }
/* Coffee 
.Coffee:hover ~ .WeTransfer a{
    color:  #ccc;
 }
 
 .Coffee:hover ~ .sketch  a{
     color:  #ccc;
 }
 
 .Coffee:hover ~ .Beam  a{
     color:  #ccc;
 }
 
 .Coffee:hover ~ .More  a{
     color:  #ccc;
 } */



 .More a::after {
    content: "→";
  }

  .footer a::after {
    content: "→";
  }
.sketch:hover ~ .hide {
    /* display: flex; */
    /* position: absolute;
    left: 0;
    top: 0; */
}

/* .WeTransfer:hover ~ .sketch a {
    color:  #ccc;
} */

/* .WeTransfer:hover ~ .hide{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
} */

footer {
    background-color: black;
    padding: 50px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* footer {
    background-color: black;
     position: fixed;
    width: 100%; 
    top: 0;
    padding: 50px;
    font-size: 20px;
     z-index: -1; 
  } */
.footer{
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: center;
    line-height: 30px;
}
.footer-h1{
    width: calc((100vw - 280px)/6*4 + 120px);
    text-align: left;
    font-size: 40px;
}

.footer-h1 a {
    line-height: 1.4;
    border-bottom: 1px solid #fff;
}
footer a svg{
    opacity: .5;
    width: 16px;
    height: 16px;
    margin-top: 16px;
    margin: 5px;
}

.copyR p , .copyR svg {
    opacity: .5;  
}

.copyR svg:hover {
    opacity: 1;  
}

.copyR {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
     
}
.icons {
    display: flex;
    align-items: center;
}

.icons a{
    margin: 0px 5px;
}

.mobile-menu{
    display: none;
}

@media only screen and (max-width: 960px){
    #menu , #logo-id{
        display: none;
    }
    .header{
        padding: 10px;
        margin: 20px 0px;
    }

    .mobile-menu{
        cursor: pointer;
        display: inline;
        margin: 10px;
    }
    .mobile-menu div {
        width: 15px;
        height: 2.5px;
        background-color: black;
        margin: 3px 0;
      }
    .title-h1{
        padding-top: 0px;
        padding-left: 10px;
        width: calc((100vw - 60px)/2*2 + 20px);
        font-size: 22px;
        line-height: 1.6;
        margin: 64px 0;
    }
    .content{
        width: 100%;
        flex: 1;
        display: flex;
        align-items: flex-start;
        /* flex-direction: column; */
    }

    .navlist a{
        padding-left: 10px;
        align-items: flex-start;
        width: calc((100vw - 60px)/2*2 + 20px);
        font-size: 42px;
        line-height: 1.6;
    }
    footer{
        background-color: black;
        padding: 10px;
        justify-items: self-start;
        justify-content: space-between;
        color: white;
    }
    .footer{
        display: block;
    }
    .footer-h1 {
        /* width: calc((100vw - 280px)/6*4 + 120px); */
        text-align: left;
        font-size: 22px;
    }
    .copyR {
        align-items: flex-start;
        display: flex;
        flex-direction: column-reverse;
        font-size: 12px;
    }

}

