body {
    background-color: #fff;
    text-align: center;
    margin: 10px;
    font-family:sans-serif,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
}

.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 65px;
    height: 55px;
    padding-top: 33px;
}

#image-logo{
    width: 33px;
    height: 43px;
    transform: translateY(3px);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

} 

.header .logo a{
    text-decoration:none;
    font-size: 16px;
    color: #2b2e32;
    
}

#logo-id{
    font-weight: 400;
    line-height: 1.3;
    padding-left: 80px;
}

#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header ul li a{
    text-decoration: none;
    color: rgba(25,25,25,.3);
    padding: 15px;
}

 
.description{
    background-color: CadetBlue;
}

.section{
    background-color: CadetBlue ;

}

/* #elem{
    background-color: red;
} */

#options {
    background-color: CadetBlue ;

}

#op1 {
    background-color: CadetBlue ;
    margin-bottom: 20px;
}
#options div {
    background-color: DarkKhaki ;
    display: flex;
    margin-left:100px ;
    margin-bottom: 10px;
    padding: 20px;

}

#options a{
    background-color: orangered ;
    text-decoration: none;

}

footer {
    background-color: gray;    
    /* padding: 30px; */
    display: flex;
    justify-content: space-between;
}

footer a {
    background-color: rgb(142, 134, 145);
    text-decoration: none;
}
footer a svg{
    opacity: .5;
    width: 16px;
    height: 16px;
    margin-top: 16px;
    margin: 5px;

}
.icons {
    background-color: blueviolet;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 960px) {
    body {
      background-color: lightblue;
    }
    #menu , #logo-id{
        display: none;
    }
    
  }