h1 {
    color: blue
}


#newheader {
    color: red
}

#img{
    width: 50%;
}

.class1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: azure;
    
}

.myclas{
    padding: 50px;
    border: 1px solid grey;
    box-shadow: 5px 10px ;
}

p:hover {
    background-color: yellow;
    padding: 50px;
    transition: all 0.5s fade-in;
  }


.class2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: red;
    width: 30%
    
}

header nav a {

}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    #img{
        width: 20%;
        /* transition: ease-in-out width 2s; */
        /* transition: all 0.2s ease-in-out; */
    }
    
  }
  